<h1><%= link_to @cake.name, cake_path(@cake) %></h1>
<hr />

<div class="row">
  <div class="span6">
    <%= image_tag @cake.photo.url(:hero), alt: @cake.name, class: 'thumbnails' %>
  </div>
  <div class="span6">&nbsp;</div>
</div>
