# createuser confection_app --superuser --pwprompt --
# rake db:create:all

development:
  adapter: postgresql
  encoding: unicode
  min_messages: warning
  database: confection_development
  host: localhost
  pool: 5
  username: confection_app
  password: postgres

test:
  adapter: postgresql
  encoding: unicode
  min_messages: warning
  database: confection_test
  host: localhost
  pool: 5
  username: confection_app
  password: postgres

production:
  adapter: postgresql
  encoding: unicode
  min_messages: warning
  database: confection_development
  host: localhost
  pool: 5
  username: confection_app
  password: postgres
